.box {
	width: 100px;
	height: 100px;
	background: blue;

	margin: 5px;
}

.column {
	display: flex;
}

h1 {
	text-align: center;
}

.green {
	border-style: solid;
	border-color: green;
	border-width: 5px;
}
